/* DOWNLOAD BUTTON STYLING */
/* main download button styling */
.download-btn
{
	background-color: #3777dd;
	border:unset;
    border-radius: 5px;
	color: white;
	padding: 12px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
    box-shadow: 2px 3px #1c1c1c;
}

/* main download button hover styling */
.download-btn:hover
{
	opacity: 0.5;
	color: white;
	text-decoration: none;
}

.download-btn-container 
{
    vertical-align:middle; 
    text-align:center; 
    margin:auto; 
    width: 100%; 
    margin-top: 45px; 
    margin-bottom: 25px;
}

.download-btn-innercontainer 
{
    overflow: hidden; 
    width:420px;
}
/* DOWNLOAD BUTTON STYLING */

/*  */
#frontpage-frame 
{
    margin-left: 20%; 
    margin-right: 20%;
    padding-left: 35px; 
    padding-right: 35px;
    padding-bottom: 35px; 
    vertical-align:middle; 
    text-align:center;
}

/*  */
#projectspage-frame 
{
    margin-left: 15%; 
    margin-right: 15%;
    padding-left: 35px; 
    padding-right: 35px;
    padding-bottom: 35px; 
    vertical-align:middle; 
    text-align:center;
}

/*  */
#frontpage-text
{
    width: 60%; 
    height: 100%; 
    background-color: transparent; 
    text-align: center;
}

/*   */
.about-text
{
    width:100%; 
    height:100%; 
    background-color: transparent; 
    padding:20px;
    color: #b3b3b3; 
    text-align: left;
    line-height:1.75;
}

/*  */
#frontpage-images
{
    width: 40%; 
    height: 100%; 
    background-color: transparent; 
    text-align: center;
}

/*  */
img#frontimgbear 
{
    height:60%; 
    width:60%; 
    margin-top: 40px;
}

/*  */
img#frontimgzombiefull 
{
    height:80%; 
    width:80%; 
    margin-top: 130px;
}

/*  */
img#frontimgzombiehalf
{
    height:70%; 
    width:70%; 
    margin-top: 60px;
}

#about-links 
{
    font-weight: bold; 
    color:#6985b8;
}

/*  */
.contact-btn 
{
    border: none;
    color: #a3a3a3;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
    list-style: none;
    display: block;
    padding: 0.5rem;
}

/*  */
.contact-btn:hover 
{
    color: #e9ecef;
}

/*  */
.line-seperator 
{ 
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 0 none;
  background-color:#b3b3b3;
  height:1px;
}

/*  */
#contactmodal-frame 
{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom:0px;
}

/*  */
#contactmodal-text {
    width: 60%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    line-height:1.75;
}

/*  */
#contactmodal-images {
    width: 35%;
    height: 100%;
    background-color: transparent;
    text-align: center;
    margin-bottom:0px;
}

/*  */
.parent {
    position: relative;
}

/*  */
.over-img {
    position: absolute;
}

/*  */
.about-text-projects
{
    width:100%;
    height:100%;
    background-color: transparent;
    padding:20px;
    color: #b3b3b3;
    padding-left:150px;
    padding-right:150px;
    text-align:center;
    line-height:1.75;
}

/*  */
.blogimg 
{
    width: 100%;
    height: auto;
}

/*  */
.blogvid 
{
    width: 100%;
    height: auto;
}

/*  */
#about-blog 
{
    font-size: 11px;
}

/*  */
.blogpage
{
    float: left;
    width: 100%;
    text-align:left;
    color: #b3b3b3;
}

/* Left column */
.leftcolumn 
{   
    float: left;
    width: 75%;
    text-align:left;
    color: #b3b3b3;
}
  
/* Right column */
.rightcolumn 
{
    float: left;
    width: 25%;
    padding-left: 20px;
    text-align:left;
    color: #b3b3b3;
}
  
.card 
{ 
    padding: 20px;
    margin-top: 20px;
    background-color: #242424;
    border-radius: 15px;
    box-shadow: 2px 5px #1c1c1c;
    line-height:1.75;
}
  
/* Clear floats after the columns */
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

/*  */
@media (max-width: 1480px) 
{
    div#projectspage-frame
    {
        margin-left: 5%;
        margin-right: 5%; 
    }
}

/*  */
@media (min-width: 2200px) 
{
    div#projectspage-frame
    {
        padding-left: 300px; 
        padding-right: 300px; 
    }

    div#frontpage-frame
    {
        margin-left: 30%;
        margin-right: 30%;
        
    }
}

/*  */
@media (min-width: 3000px) 
{
    div#projectspage-frame
    {
        padding-left: 530px; 
        padding-right: 530px; 
    }
}

/*  */
@media (max-width: 1280px) 
{
    div#frontpage-frame
    {
        margin-left: 10%;
        margin-right: 10%; 
    }
}

/*  */
@media (max-width: 900px) 
{
    div#frontpage-text 
    {
        width: 100%;
    }

    div#frontpage-frame
    {
        margin-left: 0%;
        margin-right: 0%;
        
    }

    img#frontimgbear 
    {
        display: none;
    }

    img#frontimgzombiefull 
    {
        display: none;
    }

    img#frontimgzombiehalf 
    {
        display: none;
    }
}

/*  */
@media (min-width: 2000px) 
{  
    #frontpage-images
    {
        width: 25%; 
        height: 100%; 
    }

    div#frontpage-text 
    {
        width: 75%;
    }

    img#frontimgzombiehalf 
    {
        display: none;
    } 
}

/*  */
@media (max-width: 480px) 
{
    div#frontpage-frame
    {
        padding-left: 10px; 
        padding-right: 10px;        
    }

    div#projectspage-frame
    {
        padding-left: 10px; 
        padding-right: 10px;        
    }

    .download-btn-innercontainer 
    {
        width: 100%;
    }
}

/*  */
@media (max-width: 992px) 
{
    .contact-btn
    {
        padding-left: 0;
        padding-right: 0; 
    }
}

/*  */
@media (max-width: 992px) 
{
    img#contactimage 
    {
        display: none;
    }

    div#contactmodal-text 
    {
        width: 100%;
    }
}

/*  */
@media (max-width: 600px) 
{
    div#contactmodal-frame 
    {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*  */
@media (max-width: 660px) 
{
    .about-text-projects 
    {
        padding-left: 20px;
        padding-right: 20px;
        width:100%;
        padding:20px;
    }
}

/*  */
@media (max-width: 800px) 
{
    div.leftcolumn, div.rightcolumn 
    {   
        width: 100%;
        padding: 0;
    }

    p#about-blog 
    {
        font-size: 15px;
    }
}

/*  */
@media (min-width: 1000px) 
{
    p#about-blog 
    {
        font-size: 14px;
    }
}

/*  */
@media (min-width: 2500px)
{
    #frontpage-images
    {
        width:40%;
    }

    div#frontpage-text 
    {
        width: 60%;
    }

    img#frontimgbear 
    {
        margin-top: 100px;
    }
}