/* DOWNLOAD BUTTON STYLING */
/* main download button styling */
.download-btn
{
	background-color: #3777dd;
	border:unset;
    border-radius: 5px;
	color: white;
	padding: 12px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
	text-decoration: none;
    box-shadow: 2px 3px #1c1c1c;
}

/* main download button hover styling */
.download-btn:hover
{
	opacity: 0.5;
	color: white;
	text-decoration: none;
}

.download-btn-container 
{
    vertical-align:middle; 
    text-align:center; 
    margin:auto; 
    width: 100%; 
    margin-top: 45px; 
    margin-bottom: 25px;
}

.download-btn-innercontainer 
{
    overflow: hidden; 
    width:420px;
}
/* DOWNLOAD BUTTON STYLING */














/*  */
#frontpage-frame 
{
    margin-left: 20%; 
    margin-right: 20%;
    padding-left: 35px; 
    padding-right: 35px;
    padding-bottom: 35px; 
    vertical-align:middle; 
    text-align:center;
}

/*  */
#projectspage-frame 
{
    margin-left: 15%; 
    margin-right: 15%;
    padding-left: 35px; 
    padding-right: 35px;
    padding-bottom: 35px; 
    vertical-align:middle; 
    text-align:center;
}

/*  */
#frontpage-text
{
    width: 60%; 
    height: 100%; 
    background-color: transparent; 
    text-align: center;
}

/*  */
.about-text
{
    width:100%; 
    height:100%; 
    background-color: transparent; 
    padding:20px;
    color: #b3b3b3; 
    text-align: left;
}

/*  */
#frontpage-images
{
    width: 35%; 
    height: 100%; 
    background-color: transparent; 
    text-align: center;
}







/*  */
@media (max-width: 1480px) 
{
    div#projectspage-frame
    {
        margin-left: 5%;
        margin-right: 5%; 
    }
}

/*  */
@media (max-width: 1280px) 
{
    div#frontpage-frame
    {
        margin-left: 10%;
        margin-right: 10%; 
    }
}

/*  */
@media (max-width: 850px) 
{
    div#frontpage-frame
    {
        margin-left: 5%;
        margin-right: 5%; 
    }

    div#projectspage-frame
    {
        margin-left: 0%;
        margin-right: 0%; 
    }
}

/*  */
@media (max-width: 660px) 
{
    img#removeimage 
    {
        display: none;
    }
    
    div#frontpage-text 
    {
        width: 100%;
    }

    div#frontpage-frame
    {
        margin-left: 0%;
        margin-right: 0%;
        
    }
}

/*  */
@media (max-width: 480px) 
{
    div#frontpage-frame
    {
        padding-left: 10px; 
        padding-right: 10px;        
    }

    div#projectspage-frame
    {
        padding-left: 10px; 
        padding-right: 10px;        
    }

    .download-btn-innercontainer 
    {
        width: 100%;
    }
}









.contact-btn 
{
    border: none;
    color: #a3a3a3;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 0px;
    list-style: none;
    display: block;
    padding: 0.5rem;
}

.contact-btn:hover 
{
    color: #e9ecef;
}

@media (max-width: 992px) 
{
    .contact-btn
    {
        padding-left: 0;
        padding-right: 0; 
    }
}







.line-seperator 
{ 
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border: 0 none;
  background-color:#b3b3b3;
  height:1px;
}









@media (max-width: 992px) 
{
    img#contactimage 
    {
        display: none;
    }

    div#contactmodal-text 
    {
        width: 100%;
    }
}

@media (max-width: 600px) 
{
    div#contactmodal-frame 
    {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/*  */
#contactmodal-frame 
{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 45px;
    padding-right: 45px;
}

/*  */
#contactmodal-text {
    width: 60%;
    height: 100%;
    background-color: transparent;
    text-align: center;
}

/*  */
#contactmodal-images {
    width: 35%;
    height: 100%;
    background-color: transparent;
    text-align: center;
}




.parent {
    position: relative;
}

.over-img {
    position: absolute;
}